[submodule "ext-deps/zfec"]
	path = ext-deps/zfec
	url = https://github.com/tahoe-lafs/zfec
[submodule "ext-deps/readerwriterqueue"]
	path = ext-deps/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
